fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
python-dotenv
paho-mqtt
httpx
requests
python-multipart
supabase
groq
psycopg2-binary
numpy
scikit-learn
torch
sentence-transformers
reportlab
resend==0.8.0
resend==0.8.0
